.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: var(--s-m-font);
  line-height: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: black;
}

.disabled:hover {
  text-decoration: line-through;
  cursor: pointer;
}

@media (width < 650px) {
  .nav {
    font-size: var(--s-font);
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
  }
}
